In [1]:
import pandas as pd

In [7]:
data = pd.read_csv(r"C:\Users\hp\AppData\Local\Programs\Python\Python36\Lib\site-packages\sklearn\datasets\data\diamonds.csv",index_col=0)
data = data.sample(frac=0.2)
data.reset_index(inplace=True,drop=True)
data.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   1.57    Premium     I     SI2   62.2   60.0   6401  7.43  7.36  4.60
1   0.91  Very Good     J      I1   63.1   57.0   2048  6.12  6.06  3.84
2   0.40      Ideal     D     VS1   60.6   56.0   1072  4.82  4.78  2.91
3   0.72  Very Good     D     VS2   61.8   58.0   3075  5.73  5.76  3.55
4   0.26       Good     E    VVS2   63.1   59.0    599  4.04  4.08  2.56

In [8]:
data["clarity"].unique()

array(['SI2', 'I1', 'VS1', 'VS2', 'VVS2', 'SI1', 'VVS1', 'IF'],
      dtype=object)

In [9]:
#Replace the categorical data to numeric
clarity_dict = {'I1':0,'SI2':1, 'SI1':2, 'VS1':4, 'VS2':3, 'VVS2':5, 'VVS1':6, 'IF':7}
data["clarity"].replace(clarity_dict, inplace=True)
data.head()

   carat        cut color  clarity  depth  table  price     x     y     z
0   1.57    Premium     I        1   62.2   60.0   6401  7.43  7.36  4.60
1   0.91  Very Good     J        0   63.1   57.0   2048  6.12  6.06  3.84
2   0.40      Ideal     D        4   60.6   56.0   1072  4.82  4.78  2.91
3   0.72  Very Good     D        3   61.8   58.0   3075  5.73  5.76  3.55
4   0.26       Good     E        5   63.1   59.0    599  4.04  4.08  2.56

In [10]:
#Categorical data that is nominal or ordinal, one hot encoding is the good way to show categories in numeric form
data = pd.get_dummies(data,columns=["cut","color"])
data.head()

,carat,clarity,depth,table,price,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,1.57,1,62.2,60.0,6401,7.43,7.36,4.60,0,0,0,1,0,0,0,0,0,0,1,0
1,0.91,0,63.1,57.0,2048,6.12,6.06,3.84,0,0,0,0,1,0,0,0,0,0,0,1
2,0.40,4,60.6,56.0,1072,4.82,4.78,2.91,0,0,1,0,0,1,0,0,0,0,0,0
3,0.72,3,61.8,58.0,3075,5.73,5.76,3.55,0,0,0,0,1,1,0,0,0,0,0,0
4,0.26,5,63.1,59.0,599,4.04,4.08,2.56,0,1,0,0,0,0,1,0,0,0,0,0

In [11]:
NUMERIC_FEATURES = ['carat','depth','table','x','y','z']
numeric_df = data[NUMERIC_FEATURES]
numeric_df.describe()

,carat,depth,table,x,y,z
count,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000,10788.000000
mean,0.794590,61.742214,57.433509,5.722875,5.725709,3.531567
std,0.472003,1.447945,2.227586,1.121990,1.113166,0.696429
min,0.210000,43.000000,50.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,4.710000,4.710000,2.900000
50%,0.700000,61.800000,57.000000,5.690000,5.700000,3.530000
75%,1.040000,62.500000,59.000000,6.530000,6.530000,4.030000
max,3.400000,72.900000,71.000000,9.490000,9.420000,6.270000

In [13]:
#standardize numeric data by subtracting the mean & dividing by the std dev
from sklearn.preprocessing import scale
numeric_array = scale(numeric_df)
numeric_array[:5]

array([[ 1.64288244,  0.31617746,  1.15219346,  1.52158495,  1.46821413,
         1.53423021],
       [ 0.24452182,  0.93777673, -0.19461858,  0.35396291,  0.30032022,
         0.44289787],
       [-0.83602957, -0.78888791, -0.64355593, -0.80474598, -0.8496061 ,
        -0.89254828],
       [-0.15803654,  0.03991111,  0.25431876,  0.00635024,  0.03080624,
         0.02646842],
       [-1.13265152,  0.93777673,  0.70325611, -1.49997131, -1.47847205,
        -1.39513555]])

In [14]:
numeric_df = pd.DataFrame(numeric_array, columns=numeric_df.columns)
numeric_df.describe()

,carat,depth,table,x,y,z
count,1.078800e+04,1.078800e+04,1.078800e+04,1.078800e+04,1.078800e+04,1.078800e+04
mean,-1.778333e-16,1.502362e-15,1.208278e-15,-1.778333e-16,4.610492e-17,-1.699296e-16
std,1.000046e+00,1.000046e+00,1.000046e+00,1.000046e+00,1.000046e+00,1.000046e+00
min,-1.238588e+00,-1.294461e+01,-3.337180e+00,-5.100882e+00,-5.143862e+00,-5.071202e+00
25%,-8.360296e-01,-5.126216e-01,-6.435559e-01,-9.027906e-01,-9.124927e-01,-9.069079e-01
50%,-2.004111e-01,3.991111e-02,-1.946186e-01,-2.930234e-02,-2.309656e-02,-2.250848e-03
75%,5.199565e-01,5.233772e-01,7.032561e-01,7.194019e-01,7.225588e-01,7.157310e-01
max,5.520155e+00,7.706302e+00,6.090504e+00,3.357693e+00,3.318877e+00,3.932289e+00

In [15]:
#Replacing original data with the standardized data
data.drop(NUMERIC_FEATURES, inplace = True, axis = 1)
data.head()

,clarity,price,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,color_H,color_I,color_J
0,1,6401,0,0,0,1,0,0,0,0,0,0,1,0
1,0,2048,0,0,0,0,1,0,0,0,0,0,0,1
2,4,1072,0,0,1,0,0,1,0,0,0,0,0,0
3,3,3075,0,0,0,0,1,1,0,0,0,0,0,0
4,5,599,0,1,0,0,0,0,1,0,0,0,0,0

In [16]:
data = pd.concat([data,numeric_df],axis =1)

In [17]:
data.shape

(10788, 20)

In [18]:
data.head()

,clarity,price,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_D,color_E,color_F,color_G,color_H,color_I,color_J,carat,depth,table,x,y,z
0,1,6401,0,0,0,1,0,0,0,0,0,0,1,0,1.642882,0.316177,1.152193,1.521585,1.468214,1.534230
1,0,2048,0,0,0,0,1,0,0,0,0,0,0,1,0.244522,0.937777,-0.194619,0.353963,0.300320,0.442898
2,4,1072,0,0,1,0,0,1,0,0,0,0,0,0,-0.836030,-0.788888,-0.643556,-0.804746,-0.849606,-0.892548
3,3,3075,0,0,0,0,1,1,0,0,0,0,0,0,-0.158037,0.039911,0.254319,0.006350,0.030806,0.026468
4,5,599,0,1,0,0,0,0,1,0,0,0,0,0,-1.132652,0.937777,0.703256,-1.499971,-1.478472,-1.395136

In [19]:
#Saving preprocessed data into a csv file
data.to_csv(r"C:\Users\hp\AppData\Local\Programs\Python\Python36\Lib\site-packages\sklearn\datasets\data\diamonds_processed.csv", index=False)

In [21]:
#Perform LR
from sklearn.model_selection import train_test_split
X = data.drop("price", axis =1)
Y = data["price"]
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state = 42)

In [22]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
y_prediction = lr.predict(x_test)
y_prediction

array([2085.375 , 2063.0625, 4541.625 , ..., 7641.5   , 2935.3125,
       5748.625 ])

In [24]:
#Evaluation
train_score = lr.score(x_train, y_train)
train_score

0.913378112278459

In [25]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_prediction)
print("Testing Score : ",score)

Testing Score :  0.9124532035562306